*{
  font-family: Times New Roman, Times, serif;
  color: black;
  text-align:center;
}
nav{
  background-color: azure;
  padding: 10px;
  margin:10px;
  
}


article{
  padding:10px;
  margin: 10px;
  width:200px;
  float:left;  
}


.p1{
  width:250px;
  padding:10px;
}







body {
  background-color: #ffe2e6;
}

h1 {
  color: navy;
  
}

